.page {
    display: none;
    animation-duration: 0.3s;
  }
  
  .page.active {
    display: block;
    animation-name: drop-in;
  }
  
  @keyframes drop-in {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  .page.leaving {
    animation-name: drop-out;
  }
  
  @keyframes drop-out {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }
  